a:hover,
a:focus {
  outline: 0 !important;
  outline: none !important;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.wrapper {
  padding: 0 15px;
  width: 100%;
}

a.text-dark:hover {
  color: #ff9800 !important;
}

.btn-outline-primary {
  border-color: #ff9800 !important;
}

a.text-dark:hover.btn-outline-primary {
  background-color: #ff9800;
  color: #fff !important;
}

.btn-outline-primary:focus, .btn-outline-primary.focus {
  box-shadow: none;
}

.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active, .show > .btn-outline-primary.dropdown-toggle {
  background-color: unset;
}

.btn-primary {
  background-color: #ff9800;
  border-color: #ff9800;
  color: #fff;
  font-weight: 600;
}

.form-control:focus {
  border-color: #ff9800;
  box-shadow: none;
}

.input-group-text {
  
  color: #fff;
  font-weight: 600;
  background-color: #ff9800;
  border: 1px solid #ff9800;
}